.navbar {
    width: 100%;
    height: 80px;
    padding: 1rem;
    padding-top: 0.5rem;
    position: fixed;
    z-index: 9999;
    /* background: #489EAD; */
}

.navbarActive {
    width: 100%;
    height: 80px;
    padding: 1rem 15rem;
    position: fixed;
    z-index: 9999;
    background: deeppink;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.02),
        0px 2px 4px -2px rgba(0, 0, 0, 0.08),
        0px 4px 8px -4px rgba(0, 0, 0, 0.10),
        0px 8px 16px -8px rgba(0, 0, 0, 0.12);

}


.logo {
    width: 10%;
    height: 80px;
    text-align: center;
    float: left;
}

.logo img {
    width: 50%;
}

.bar {
    width: 15%;
    height: 80px;
    float: left;
    color: white;
    cursor: pointer;
    display: none;
}

.navMenu {
    width: 80%;
    display: block;
    float: left;
    padding-top: 1rem;
}

.navMenu ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navMenu ul li {
    width: 8%;
    padding: 0;
    margin: 0;
    line-height: 40px;
    list-style: none;
    text-align: center;
    float: left;
}

.navMenu ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.navbarActive ul li a {
    color: white;
}

.btn {
    display: block;
    height: 2.5rem;
    width: 15%;
    padding: .8rem;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    text-align: center;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.02),
        0px 2px 4px -2px rgba(0, 0, 0, 0.08),
        0px 4px 8px -4px rgba(0, 0, 0, 0.10),
        0px 8px 16px -8px rgba(0, 0, 0, 0.12);
    float: left;
    margin-left: 20px;
    border-radius: 20px;
}

.btn:hover {
    text-decoration: none;
}

.blue {
    background: #29aae3;
    color: white;
}

.white {
    background: white;
    color: #29aae3;
}

.dropdown {
    /* width: 100%; */
    height: auto;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 250px;
    z-index: 1;
    border-radius: 2%;
    margin-top: 0;
    margin-left: -3rem;
}

.dropdown ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
}

.dropdown ul li a {
    color: deeppink;
    font-weight: bold;
}

.dropdown ul li:hover {
    background: rgba(219, 141, 200, 0.22);
    color: white;
    font-weight: bold;
    line-height: 3rem;
}

.navMenu ul li:hover .dropdown {
    display: block;
}

.dropdown:after {
    content: '';
    /* Required to display content */
    position: absolute;
    /* Sets the position absolute to the top div */
    top: 0;
    left: 35%;
    /* position the little arrow */
    margin-left: -15px;
    margin-top: -10px;
    /* Set margin equal to border px */
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 15px #FFF;
    /* Creates the arrow pointing up, to change to a notch instead user border-top */
    border-left: solid 15px transparent;
    /* Creates triangle effect */
    border-right: solid 15px transparent;
    /* Creates triangle effect */
}

.navMenuactive {
    width: 100%;
    height: auto;
    display: block;
    padding: 1rem 2rem;
    z-index: 9999;
    height: 30rem;
    background: deeppink;
}

.navMenuactive ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navMenuactive ul li {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 40px;
    height: 40px;
    list-style: none;
    text-align: center;
    float: left;


}

.navMenuactive ul li a {
    text-decoration: none;
    color: white;
}

.bar {
    width: 15%;
    height: 80px;
    float: left;
    color: white;
    cursor: pointer;
    display: none;
}



/* phone-only */
@media (max-width: 599px) {
    .navbar {
        padding: 0rem;
        background: deeppink;
    }

    .logo {
        width: 65%;
    }

    .logo img {
        width: 30%;
    }

    .bar {
        width: 20%;
        display: block;
    }

    .bar svg {
        font-size: 3rem;
        float: right;
    }

    .navMenu {
        display: none;
    }

    .navMenuactive {
        display: block;
    }

    .navbarActive {
        padding: 0rem;
    }

}

/* .tablet-portrait-up  */
@media (min-width: 600px) {
    .navbar {
        padding: 0rem;
        background: deeppink;
    }

    .logo {
        width: 65%;
    }

    .logo img {
        width: 30%;
    }

    .bar {
        width: 20%;
        display: block;
    }

    .bar svg {
        font-size: 3rem;
    }

    .navMenu {
        display: none;
    }

    .navMenuactive {
        display: block;
    }

    .navbarActive {
        padding: 0rem;
    }
}

/* tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .navbar {
        padding: 0rem;
        background: deeppink;
    }

    .logo {
        width: 65%;
    }

    .logo img {
        width: 30%;
    }

    .bar {
        width: 20%;
        display: block;
    }

    .bar svg {
        font-size: 3rem;
    }

    .navMenu {
        display: none;
    }

    .navMenuactive {
        display: block;
    }

    .navbarActive {
        padding: 0rem;
    }
}

/* tablet-landscape-up */
@media (min-width: 900px) {
    .navbar {
        padding: 0rem;
        background: deeppink;
    }

    .logo {
        width: 65%;
    }

    .logo img {
        width: 15%;
    }

    .bar {
        width: 20%;
        display: block;
    }

    .bar svg {
        font-size: 3rem;
    }

    .navMenu {
        display: none;
    }

    .navMenuactive {
        display: block;
    }

    .navbarActive {
        padding: 0rem;
    }
}

/* tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .navbar {
        padding: 1rem;
        background: none;
    }

    .bar {
        display: none;
    }

    .logo {
        width: 10%;
    }

    .logo img {
        width: 50%;
    }

    .navMenu {
        display: block;
    }

    .navMenuactive {
        display: none;
    }

    .navbarActive {
        padding: 1rem 5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .navbar {
        padding: 1rem;
        background: none;
    }

    .logo {
        width: 10%;
    }

    .logo img {
        width: 50%;
    }

    .bar {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navMenuactive {
        display: none;
    }

    .navbarActive {
        padding: 1rem 5rem;
    }
}

/* .desktop-up */
@media (min-width: 1300px) {
    .navbar {
        padding: 1rem;
        background: none;
    }

    .logo {
        width: 10%;
    }

    .logo img {
        width: 50%;
    }

    .bar {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navMenuactive {
        display: none;
    }

    .navbarActive {
        padding: 1rem 15rem;
    }
}

/* desktop-only */
@media (min-width: 1300px) and (max-width: 1799px) {
    .navbar {
        padding: 1rem;
        background: none;
    }

    .logo {
        width: 10%;
    }

    .logo img {
        width: 50%;
    }

    .bar {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navMenuactive {
        display: none;
    }

    .navbarActive {
        padding: 1rem 15rem;
    }
}

/* big-desktop-up */
@media (min-width: 1800px) {
    .navbar {
        padding: 1rem;
        background: none;
    }

    .logo {
        width: 10%;
    }

    .logo img {
        width: 50%;
    }

    .bar {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navMenuactive {
        display: none;
    }

    .navbarActive {
        padding: 1rem 15rem;
    }
}